In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import chi2_contingency

In [ ]:
cust=pd.read_csv("C:/Users/mewit/Desktop/Data Science Notes/Assignmnets/Hypothesis Testing/CustomerOrderForm.csv")
cust.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [ ]:
# H0 = There is no defects in Order Forms
# H1 = There is a defects in Order Forms

In [ ]:
cust.Phillippines.value_counts(), '\n' ,cust.Indonesia.value_counts(), '\n' ,cust.Malta.value_counts(), '\n' ,cust.India.value_counts()

(Error Free    271
 Defective      29
 Name: Phillippines, dtype: int64,
 '\n',
 Error Free    267
 Defective      33
 Name: Indonesia, dtype: int64,
 '\n',
 Error Free    269
 Defective      31
 Name: Malta, dtype: int64,
 '\n',
 Error Free    280
 Defective      20
 Name: India, dtype: int64)

In [ ]:
data = np.array([[271,267,269,280],[29,33,31,20]])
data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [ ]:
chi2_contingency(data)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
# Chi-square value = 3.8589
# p_value = 0.2771
# degree of freedom = 3
# Expected values
# alpha value = 0.05

In [ ]:
# As the p_value is less than alpha value we rejecting the null hypothesis
# So we can tell there is defects in the Customer Order Forms