In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [ ]:
cut=pd.read_csv("C:/Users/mewit/Desktop/Data Science Notes/Assignmnets/Hypothesis Testing/Cutlets.csv")
cut.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [ ]:
# H0 = There is no difference between diameter of cutlets
# H1 = There is a difference between diameter of cutlets

In [ ]:
unitA=pd.Series(cut.iloc[:,0])
unitA.head()

0    6.8090
1    6.4376
2    6.9157
3    7.3012
4    7.4488
Name: Unit A, dtype: float64

In [ ]:
unitB=pd.Series(cut.iloc[:,1])
unitB.head()

0    6.7703
1    7.5093
2    6.7300
3    6.7878
4    7.1522
Name: Unit B, dtype: float64

In [ ]:
p_value=stats.ttest_ind(unitA,unitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [ ]:
p_value[1]

0.4722394724599501

In [ ]:
# As our p_value value is less than alpha So we reject the null hypothesis
# So there is a difference between diameter of cutlets between two units