In [ ]:
import pandas as pd
import scipy.stats as st
from scipy.stats import chi2_contingency

In [ ]:
br = pd.read_csv("C:/Users/mewit/Desktop/Data Science Notes/Assignmnets/Hypothesis Testing/BuyerRatio.csv", index_col = 0)
br

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [ ]:
# H0 = All the propertions are equal
# H1 = Not all propertions are equal

In [ ]:
# Changing the data frame format to array format
data = br.to_numpy()
data

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [ ]:
# To find the Chi square value and p_value
chi2_contingency(data)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
# Chi-square value = 1.5959
# p_value = 0.6603
# degree of freedom = 3
# Expected values
# alpha value = 0.05

In [ ]:
# As the p_value is greater than alpha value we accept the null hypothesis
# So we can say all propertions are equal.